html,
body {
  padding: 0;
  margin: 0;
}

.pages {
  padding: 16px;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.page1 {
  z-index: 1000;
  height: 475px;
  width: 300px;
}

.page1 .page-content {
  background-image: url("../images/1.png");
  height: 240px;
}

.page1 .white-space {
  background: white;
  height: 235px;
}

.page2 {
  z-index: 999;
  height: 475px;
  width: 300px;
  opacity: 0;
}

.page2 .page-content {
  background-image: url("../images/2.png");
}

.page3 {
  z-index: 998;
  height: 475px;
  width: 600px;
  opacity: 0;
  left: -300px;
}

.page3 .page-content {
  background-image: url("../images/3.png");
}

button {
  margin-top: 620px;
}

.rotate-up {
  -webkit-animation-name: rotate-up;
  animation-name: rotate-up;
}
@-webkit-keyframes rotate-up {
  0% {
    opacity: 1;
    transform: rotateX(0deg) translateZ(0);
  }
  to {
    opacity: 0;
    transform: rotateX(360deg) translateZ(0);
  }
}
@keyframes rotate-up {
  0% {
    opacity: 1;
    transform: rotateX(0deg) translateZ(0);
    transform-origin: 0 0;
  }
  to {
    opacity: 0;
    transform: rotateX(180deg) translateZ(0);
    transform-origin: 50% 0;
  }
}

.rotate-left {
  -webkit-animation-name: rotate-left;
  animation-name: rotate-left;
}
@-webkit-keyframes rotate-left {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateX(0);
  }
  to {
    opacity: 0;
    transform: rotateY(-180deg) translateX(100%);
  }
}
@keyframes rotate-left {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateX(0);
  }
  to {
    opacity: 0;
    transform: rotateY(-180deg) translateX(100%);
  }
}

.hide {
  -webkit-animation-name: hide;
  animation-name: hide;
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.show {
  -webkit-animation-name: show;
  animation-name: show;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
